html, body {
  height: 100%;
}
.align-items-center {
  height: 100%;
  min-height: 100%;
}

.Canvas-container-center {
  background-color: #E5E9F2;
  height: 100%;
  min-height: 100%;
}

.Login-input {
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

.Login-button {
  background-color: #47525E;
  border-radius: 5px;
  width: 190px;
  height: 50px;
  color: #FFFFFF;
}

.alerta{
  text-align: center;
}
.Login-text {
  color: #8190A5;
}
/**********/
.flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.Home-links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.Home-m-b-md {
    margin-bottom: 30px;
}
/******/
.carousel-item {
  height: 96vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}